legend {
    background-color: #265a88;
    color: #FFFFFF;
    font-weight: bold;
    padding: 3px 10px;
    margin: 3px;
    font-size: 18px;
}
.groupbox
{
    padding: 0.4em 1.0em;
    border:1px solid gray;
}    

#container{width:100%;text-align:center;/*border: dotted*/}
.utility{float:left;display: inline-block;}
.bundle{float:left;display: inline-block;}
.entity{float:left;display: inline-block;}

/*.utility{float:left;}
.bundle{margin:0 auto;display: inline-block;}
.entity{float:right;}*/

#risultato {margin-left: 10px; font-size: 18px; background-color: black; color: green; height: 240px;overflow: auto; display: none;}
#risultato pre {background-color: black; color: green; border:0px;}
#stato {}
.adminpanel {border:0px solid gray; text-align: left; margin: 15px}
.button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#5A9368), to(#5A9368));
    background: -webkit-linear-gradient(top, #5A9368, #5A9368);
    background: -moz-linear-gradient(top, #5A9368, #5A9368);
    background: -ms-linear-gradient(top, #5A9368, #5A9368);
    background: -o-linear-gradient(top, #5A9368, #5A9368);
    padding: 7.5px 15px;
    -webkit-border-radius: 39px;
    -moz-border-radius: 39px;
    border-radius: 39px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 15px;
    font-family: Georgia, serif;
    text-decoration: none;
    width: 350px;
    vertical-align: middle;
}
.button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
.button:active {
    border-top-color: #248c51;
    background: #248c51;
}

label, input {
    /* in order to define widths */
    display: inline-block;
    width: 94%;
    text-align: left;
}

label {
    width: 94%;
    /* positions the label text beside the input */
    text-align: left;
}

label + input {
    width: 94%;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
input + input {
    float: right;
}

.btn {
    width: 300px;
}

.no-close .ui-dialog-titlebar {
    display: none;
}

#item:hover {
    cursor: pointer;
}

.noclose .ui-dialog-titlebar-close
{
    display:none;
}